html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#allContainer{

}

#headerContainer{
    width: auto;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
}

#mainContainer{

}

#footerContainer{

}