html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#allContainer{

}

#headerContainer{
    width: auto;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
}

#GenreDiv{
    border: 1px solid black;
    height: 30%;
    width: 20%;
    margin: 20px;
    padding: 10px;
}

.btnLogin{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 100px;
    padding: 5px;
}

#QueueSongID {
    border: 1px solid;
    height: 200px;
    width: 200px;
}

#SongDetailsContainer {
    border: 1px solid;
    height: 200px;
    width: 200px;
}