@{
    ViewData["Title"] = "Create";
}

<form action="User/form2" method="post">
    <table>
        <tr>
            <td>Enter Username: </td>
            <td><input type="text" name="txtUsername" /></td>
        </tr>
        <tr>
            <td>Enter Password: </td>
            <td><input type="password" name="txtPassword" /></td>
        </tr>
        <tr>
            <td>Repeat Password: </td>
            <td><input type="password" name="txtPassword2" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
</form>