@using System.Data
@{
    string stringquery = $@"select * from Genres";
    DataTable dt = MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.SqlFunctions.executeSqlGetDataTable(stringquery, "MPA_Jukebox_Playlist");
}

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back</a>

    @foreach(DataRow dr in dt.Rows)
    {
        <div id="GenreDiv">
            <h2>@dr["Type"]</h2>
            <a asp-area="" asp-controller="Home" asp-action="GoToGenre" asp-route-id="@dr["ID"]">Songs</a>

        </div>
    }
</div>