@using System.Data
@{
    ViewData["Title"] = "Home Page";

    string stringquery = $@"use MPA_Jukebox_Playlist; select * from Users;";
    DataTable dt = MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.SqlFunctions.executeSqlGetDataTable(stringquery, "MPA_Jukebox_Playlist");

    int cnt = 1;

}

<div id="allContainer">
    <div id="headerContainer">
        <h1>MPA_Jukebox_Playlist</h1>
        <h3>Create your own account now.</h3>
    </div>
    <div id="MainContainer">
    
        <h1>Login:</h1>
        @foreach (DataRow dr in dt.Rows)
        {
            <div>
                <h2>@dr["Username"]</h2>
                <button onclick="LoginToUser(@dr["ID"])" id="btnLogin">Log In</button>
            </div>
        }

    </div>
    <div id="footerContainer">
        <footer id="footer">© - Joey_Kwestro - 2022</footer>
    </div>
</div>