@using System.Data
@{
    ViewData["Title"] = "Home Page";
}

<div id="allContainer">
    <div id="headerContainer">
        <h1>MPA_Jukebox_Playlist</h1>
        <h3>Create your own account now.</h3>
    </div>

    <div id="footerContainer">
        <footer id="footer">© - Joey_Kwestro - 2022</footer>
    </div>
</div>