@using System.Data;
@using MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.Database;
@{
    string user = ViewBag.User;
    List<Playlists> playlists = ViewBag.playlists;


}

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back</a><br />
    <a asp-area="" asp-controller="Playlist" asp-action="AddPlaylist">Add Playlist</a><br/>

    @foreach (var item in playlists)
    {
        <div style="padding: 20px;margin: 0 auto; display: inline-block; border: 1px; border-style: solid;">
            <h1>@item.Title</h1>
            <a asp-area="" asp-controller="Playlist" asp-action="PlaylistSongs" asp-route-id="@item.ID">View</a>
            <a asp-area="" asp-controller="Playlist" asp-action="DeletePlaylist" asp-route-id="@item.ID">Delete</a>

        </div>
    }
</div>