@using System.Data
@{
    DataTable dt = new DataTable();
    List<string> queueSongs = ViewBag.Queue;

}


<div>
    @foreach (var song in queueSongs)
    {
        <div>
            <h2>@song</h2>
        </div>
    }
</div>