@using System.Data
@{
    DataTable dt = new DataTable();
    var queueSongs = ViewBag.Queue;
}


<div>
    @if (queueSongs != null)
    {
        @foreach (var song in queueSongs)
        {


            <div id="QueueSongID">
                <h2>@song["Title"]</h2>
            </div>
        }

    }
</div>