@using System.Data
@using MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.Database;
@{
    var songid = ViewBag.AddToPlaylistID;
    var username = ViewBag.user;
    List<Playlists> playlists = ViewBag.playlists;

}

<div>

<form action="../Playlist/form4" method="post">
    <input style="display:none;" type="number" name="txtSongID" value="@songid" />
    <fieldset>

        <select id="orderby" name="txtTitle">
        @foreach (var item in playlists)
        {
            <option value="@item.Title">@item.Title</option>
        }
        </select>
        <td colspan="2"><input type="submit" value="Add To Playlist" /></td>
    </fieldset>
</form>
</div>