@using System.Data
@{

    int GenreID = Int32.Parse(MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.SqlFunctions.executeSql($@"Select ID from Genre where Type = '{ViewBag.GenreType}'", "MPA_Jukebox_Playlist", "SELECT"));

    string stringquery = $@"select * from Songs where GenreID = {GenreID}";

    DataTable dt = MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.SqlFunctions.executeSqlGetDataTable(stringquery, "MPA_Jukebox_Playlist");
    int cnt = 0;
}

<div>
    @foreach (DataRow dr in dt.Rows)
    {
        <div>
            <h1>@dr["Title"]</h1>
            <p>@dr["Artist"]</p>
            <button onclick="AddToQueue(@dr["ID"])" id="btnAddToQueue">Add to queue</button>
        </div>
    }
</div>