@using System.Data
@using MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.Database;
@{

    int GenreID = ViewBag.GenreType;

    List<Songs> songs = ViewBag.songs;

    int cnt = 0;
}

<div>
    <a asp-area="" asp-controller="Home" asp-action="Genre">Back</a>

    @foreach (var item in songs)
    {
        <div>
            <h1>@item.Title</h1>
            <a asp-area="" asp-controller="Queue" asp-action="AddtoQueue" asp-route-id="@item.ID">Add to queue</a>
            <a asp-area="" asp-controller="Playlist" asp-action="songsDetails" asp-route-id="@item.ID">Details</a>

        </div>
    }
</div>