@using System.Data
@{

    int GenreID = ViewBag.GenreType;
    string stringquery = $@"select * from Songs where GenreID = {GenreID}";

    DataTable dt = MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.SqlFunctions.executeSqlGetDataTable(stringquery, "MPA_Jukebox_Playlist");
    int cnt = 0;
}

<div>
    <a asp-area="" asp-controller="Home" asp-action="Genre">Back</a>

    @foreach (DataRow dr in dt.Rows)
    {
        <div>
            <h1>@dr["Title"]</h1>
            <a asp-area="" asp-controller="Home" asp-action="AddtoQueue" asp-route-id="@dr["ID"]">Add to queue</a>
            <a asp-area="" asp-controller="Home" asp-action="songsDetails" asp-route-id="@dr["ID"]">Details</a>

        </div>
    }
</div>