@using System.Data;
@using MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.Database;

@{

    int id = ViewBag.detailsID;

    List<Songs> songs = ViewBag.details;

}

@foreach (var songs1 in songs)
{
<a asp-area="" asp-controller="Home" asp-action="Songs" asp-route-id="@songs1.ID">Back</a>
<div id="SongDetailsContainer">
    <h2>@songs1.Title</h2>
    <p>Artist: @songs1.Artist</p>
    <p>Duration: @songs1.Duration min</p>
</div>
}
